.iconImg{
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0px;
  right: 30px;
  object-fit: contain;
  background-color: rgb(165, 186, 215);
}
.viewer{

    position: absolute;
    width: 95%;
    height: 98vh;
    top: 1vh;
    left:2.5%;
    overflow: hidden;
    z-index: 801;
}
.bodyAlias{
  background-color: #e3e1dd;
  height:97vh;
}
